# Ignore All
**/*

#Keep these files
!.devcontainer/
!.devcontainer/devcontainer.json
!.devcontainer/Dockerfile

!.vscode/
!.vscode/launch.json

!language-configuration/
!language-configuration/fish-language-configuration.json
!language-configuration/nix-language-configuration.json
!language-configuration/viml-language-configuration.json

!resources/
!resources/icon.png
!resources/nix-icon.png
!resources/screenshot_example.sh
!resources/screenshot0.png
!resources/Terminal-Colors.png
!resources/vim-icon.png

!schema/
!schema/fish.tmlanguage.schema.json
!schema/viml.tmLanguage.schema.json

!syntaxes/
!syntaxes/fish-codeblock.json
!syntaxes/fish.tmLanguage.json
!syntaxes/nix-codeblock.json
!syntaxes/nix.tmLanguage.json
!syntaxes/viml.tmLanguage.json

!themes/
!themes/SuperGreatMonokai-color-theme.json

!.gitattributes
!.gitignore
!.vscodeignore
!build.sh
!CHANGELOG.md
!LICENSE
!package.json
!README.md
!SuperGreatMonokai.code-workspace
